<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>Ejemplo8</filter-name>
		<display-name>Ejemplo8</display-name>
		<description></description>
		<filter-class>mx.ipn.escom.wad.servlets.filters.Ejemplo8</filter-class>
	</filter>
	<filter>
		<filter-name>Practica2</filter-name>
		<display-name>Practica2</display-name>
		<description></description>
		<filter-class>mx.ipn.escom.wad.servlets.filters.Practica2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Ejemplo8</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Practica2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Ejemplo1</servlet-name>
		<display-name>Ejemplo1</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo2</servlet-name>
		<display-name>Ejemplo2</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo3</servlet-name>
		<display-name>Ejemplo3</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo4</servlet-name>
		<display-name>Ejemplo4</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCtrl</servlet-name>
		<display-name>LoginCtrl</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.login.LoginCtrl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BienvenidoCtrl</servlet-name>
		<display-name>BienvenidoCtrl</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.login.BienvenidoCtrl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo5</servlet-name>
		<display-name>Ejemplo5</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo5</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo6</servlet-name>
		<display-name>Ejemplo6</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo6</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo7A</servlet-name>
		<display-name>Ejemplo7A</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo7A</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo7B</servlet-name>
		<display-name>Ejemplo7B</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo7B</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo10A</servlet-name>
		<display-name>Ejemplo10A</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo10A</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo10B</servlet-name>
		<display-name>Ejemplo10B</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo10B</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo10C</servlet-name>
		<display-name>Ejemplo10C</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo10C</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo10D</servlet-name>
		<display-name>Ejemplo10D</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo10D</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejemplo11</servlet-name>
		<display-name>Ejemplo11</display-name>
		<description></description>
		<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo11</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ejemplo1</servlet-name>
		<url-pattern>/Ejemplo1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo2</servlet-name>
		<url-pattern>/Ejemplo2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo3</servlet-name>
		<url-pattern>/Ejemplo3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo4</servlet-name>
		<url-pattern>/Ejemplo4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCtrl</servlet-name>
		<url-pattern>/LoginCtrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BienvenidoCtrl</servlet-name>
		<url-pattern>/BienvenidoCtrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo5</servlet-name>
		<url-pattern>/Ejemplo5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo6</servlet-name>
		<url-pattern>/Ejemplo6</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo7A</servlet-name>
		<url-pattern>/Ejemplo7A</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo7B</servlet-name>
		<url-pattern>/Ejemplo7B</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo10A</servlet-name>
		<url-pattern>/Ejemplo10A</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo10B</servlet-name>
		<url-pattern>/Ejemplo10B</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo10C</servlet-name>
		<url-pattern>/Ejemplo10C</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo10D</servlet-name>
		<url-pattern>/Ejemplo10D</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejemplo11</servlet-name>
		<url-pattern>/Ejemplo11</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>3</session-timeout>
	</session-config>
</web-app>
