<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>Ejemplo8</filter-name>
  	<display-name>Ejemplo8</display-name>
  	<description></description>
  	<filter-class>mx.ipn.escom.wad.servlets.Ejemplo8</filter-class>
  </filter>
  <filter>
  	<filter-name>Ejemplo9</filter-name>
  	<display-name>Ejemplo9</display-name>
  	<description></description>
  	<filter-class>mx.ipn.escom.wad.filters.Ejemplo9</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Ejemplo8</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>Ejemplo9</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>servlet1</servlet-name>
  	<display-name>servlet1</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.servlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejemplo5</servlet-name>
  	<display-name>Ejemplo5</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo5</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejemplo6</servlet-name>
  	<display-name>Ejemplo6</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo6</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejemplo7A</servlet-name>
  	<display-name>Ejemplo7A</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo7A</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejemplo7B</servlet-name>
  	<display-name>Ejemplo7B</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo7B</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejemplo8</servlet-name>
  	<display-name>Ejemplo8</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo8</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejemplo10A</servlet-name>
  	<display-name>Ejemplo10A</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejemplo10A</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejempo10B</servlet-name>
  	<display-name>Ejempo10B</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejempo10B</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejemplo5</servlet-name>
  	<url-pattern>/Ejemplo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejemplo6</servlet-name>
  	<url-pattern>/Ejemplo6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejemplo7A</servlet-name>
  	<url-pattern>/Ejemplo7A</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejemplo7B</servlet-name>
  	<url-pattern>/Ejemplo7B</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejemplo8</servlet-name>
  	<url-pattern>/Ejemplo8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejemplo10A</servlet-name>
  	<url-pattern>/Ejemplo10A</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejempo10B</servlet-name>
  	<url-pattern>/Ejempo10B</url-pattern>
  </servlet-mapping>
</web-app>
